
.Navbar{
  position: relative;
  background-color: aqua;
  height: 50px;
}

.title{
  position: relative;
  margin-top: 0rem;
  align-items: start;
  margin-left: 1rem;
  font-size: large;
}
.form-control{
  position: relative;
  width: 350px;
  margin-left: 350px;
  margin-top: -1.6rem;
}

.buttonSearch{
  position: relative;
  height: 37px;
  width: 70px;
  margin-left: 44rem;
  margin-top: -4rem;
}
.btnbtn-primary{
  position: relative;
  height: 37px;
  width: 70px;
  margin-left: 703px;
  margin-top: -69px; 
}
.Cart{
  display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin-right: 80px;
   margin-top: -56px;

}
.favoriteItem{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 27px;
   margin-top: -23px;

}
.HomeRegister{
  position: absolute;
  margin-left: 68rem;
  margin-top: -2rem;

} 

.HomeLogin{
    position: absolute;
    margin-left: 63rem;
    margin-top: -2rem;
}
  
   