

.regiterGroub{

 background:#fff;
 margin-top: 40px;
 margin-left: 150px;
 margin-right: 150px;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 height: 90vh;
  
}
.inputfirstName{
    position: relative;
margin-left: -310px;
margin-top:-148px;
}
.inputLastName{
    margin-left: -310px;

    margin-top: 45px;
    }

    .inputEmail{
        margin-left: -310px;

     
        margin-top: 45px;
    }
    .inputMobilephone{
        margin-left: -310px;

        margin-top: 45px;
    }
    .inputpassword{
        margin-left: -310px;

        margin-top: 45px;
    }
    .inputCounry{

        margin-left: -310px;

        margin-top: 45px;
    }
    .buttonRegister{
       
        margin-top: 10px;
        margin-left: 190px;
    }

    .title{
 margin-left:180px;
    font-size: 25px;

        
    }
    .paraLogin{
        display: inline-block;

    font-size: 20px;
    margin-left: -220px;
       
    }
    .user{
         /* margin-top: 5px; */

        /* margin-left: 5rem;  */
    }
    .userIcon2{
        position: relative;

        margin-bottom: -60px;

        margin-right: 22px;
    }
    .emeilIcon{
                position: relative;
        margin-bottom: -130px;

        margin-right: 22px;
    }
    .mobileIcon{
        position: relative;

        margin-bottom: -195px;
        margin-right: 22px;
    }
    .passicon{
        position: relative;

        margin-bottom: -270px;
        margin-right: 22px;
    }
    .countryIcon{
        position: relative;
        margin-bottom: -340px;
        margin-right: 22px;
    }
    .loginLink{
        position: relative;

        margin-top: -150px;
        margin-left: 20px; 
    }
    .login{
    position: absolute;
    margin-bottom: 190px;
    margin-left: 230px; 
    }
  
.sucess{
    color: greenyellow;
    color: black;
    margin-bottom: 100px;
}

.failed {
    color: maroon;
 }
 .imageRegister{
    position: absolute;
    height: 550px;
    width: 550px;
    margin-left: 240px;
    margin-top: -400px;
}